body{
	background-image: url('loginBackground.jpg');
}

/*.login_banner{
	background-color: #395662;
}*/

.loginID{
	width: 155px;
	border-style: none;
	border-bottom-style: solid;
}

#loginIDButton1{
	width: 50px;
}
#loginIDButton2{
	position:relative;
	left: 50px
	width: 150px;
}